@model IEnumerable<Models.Framework.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    Quản lý danh mục
}

<div class="row" style="padding:10px;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Danh sách danh mục</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive" style="padding:15px;">

                <div class="box-tools">
                    <button class="btn btn-default" style="margin:10px;">@Html.ActionLink("Thêm mới", "Create")</button>
                    <div class="input-group input-group-sm col-md-6" style="width: 250px; float:right;">
                        <input type="text" name="searchString" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <table class="table table-hover text-center crud">
                    <tr>
                        <th style="border-top:none;">@Html.DisplayNameFor(model => model.id)</th>
                        <th style="border-top:none;">@Html.DisplayNameFor(model => model.name)</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.id">
                            <td>@Html.DisplayFor(modelItem => item.id)</td>
                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                            <td><button class="btn btn-success">@Html.ActionLink("Sửa", "Edit", new { id = item.id }, new { @style = "color:#fff" })</button></td>
                            <td>
                                <button class="btn btn-danger">
                                    @Ajax.ActionLink("Xóa","Delete",new {@id = item.id },new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này không ?",
                                   OnComplete = "$('#row_"+@item.id+"').remove()",
                                   HttpMethod = "Delete"
                               })
                                </button>
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

