@model PagedList.IPagedList<Models.Framework.product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    Quản lý sản phẩm
}

<div class="row" style="padding:10px;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Danh sách sản phẩm</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive" style="padding:15px;">

                <div class="box-tools">
                    <button class="btn btn-default" style="margin:10px;">@Html.ActionLink("Thêm mới", "Create")</button>
                    @using (Html.BeginForm("Index", "products", FormMethod.Get))
                    {
                        <div class="input-group input-group-sm col-md-6" style="width: 250px; float:right;">
                            <input type="text" name="searchString" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }

                </div>
                <table class="table table-hover text-center crud">
                    <tr>
                        <th style="border-top:none;">Mã sản phẩm</th>
                        <th style="border-top:none;">Tên sản phẩm</th>
                        <th style="border-top:none;">Mô tả</th>
                        <th style="border-top:none;">Giá</th>
                        <th style="border-top:none;">Danh mục</th>
                        <th style="border-top:none;">Nhà sản xuất</th>
                    </tr>
                    @foreach (var item in Model)
                    {

                        <tr id="row_@item.id">
                            <td>@Html.DisplayFor(modelItem => item.id)</td>
                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                            <td class="text-center" style="width:420px;">@Html.DisplayFor(modelItem => item.description)</td>
                            <td>@Html.DisplayFor(modelItem => item.price)</td>
                            <td>@Html.DisplayFor(modelItem => item.category.name)</td>
                            <td>@Html.DisplayFor(modelItem => item.manufacturer.name)</td>
                            <td><button class="btn btn-success">@Html.ActionLink("Sửa", "Edit", new { id = item.id }, new { @style = "color:#fff" })</button></td>
                            <td>
                                <button class="btn btn-danger">
                                    @Ajax.ActionLink("Xóa","Delete",new {@id = item.id },new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này không ?",
                                   OnComplete = "$('#row_"+@item.id+"').remove()",
                                   HttpMethod = "Delete"
                               })
                                </button>
                            </td>
                        </tr>
                    }

                </table>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, currentFilter = ViewBag.CurrentFilter }))
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

