@model Models.Framework.product
@using Models.DAO

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProductDAO dao1 = new ProductDAO();
    List<Models.Framework.product> lst = dao1.ListProByManu(Model.manufacturer_id);
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="@Model.big_photo" alt="" />
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <form action="/Cart/AddMany" method="post">
                            <div class="product-information">
                                <!--/product-information-->
                                <h2>@Model.name</h2>
                                <p>ID: @Model.id</p>
                                <span>
                                    @if (Model.price == 0)
                                    {
                                        <span>@Model.price_old VNĐ</span>
                                    }
                                    else
                                    {
                                        <span style="text-decoration: line-through;color: #B22222;">@Model.price_old VNĐ</span>
                                        <span>@Model.price VNĐ</span>
                                    }
                                    
                                    <label>Số lượng:</label>
                                    <input type="number" value="1" name="amount" />
                                    <input name="id" value="@Model.id" style="display:none;">
                                </span>
                                <p><b>Thương hiệu:</b> @Model.manufacturer.name</p>
                                <input type="submit" class="btn btn-default" value="Thêm vào giỏ hàng">


                            </div><!--/product-information-->
                        </form>
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        @Model.description
                    </div>
                </div><!--/category-tab-->
                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Cùng thương hiệu</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                @foreach (Models.Framework.product item in lst)
                                {
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="/Product/ProductDetail/@item.id"><img src="@item.big_photo" alt="" /></a>
                                                    @if (item.price == 0)
                                                    {
                                                        <h2>@item.price_old VNĐ</h2>
                                                    }
                                                    else
                                                    {
                                                        <h2 style="text-decoration: line-through;color: #B22222;">@item.price_old VNĐ</h2>
                                                        <h2>@item.price VNĐ</h2>
                                                    }
                                                    <a href="/Product/ProductDetail/@item.id">
                                                        <p>@item.name</p>
                                                    </a>
                                                    <a class="btn btn-default add-to-cart" href="/Cart/Add/@item.id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }




                                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div><!--/recommended_items-->
                    </div>
                </div>
            </div>
</section>

