@model Models.Framework.product
@using Models.DAO

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProductDAO dao1 = new ProductDAO();
    List<Models.Framework.product> lst = dao1.ListProByManu(Model.manufacturer_id);
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="@Model.big_photo" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <form action="/Cart/AddMany" method="post">
                            <div class="product-information">
                                <!--/product-information-->
                                <h2>@Model.name</h2>
                                <p>ID: @Model.id</p>
                                <span>
                                    @if (Model.price == 0)
                                    {
										<span>@String.Format("{0:0,0} VNĐ",@Model.price_old)</span>
                                    }
                                    else
                                    {
                                    <span style="text-decoration: line-through;">@String.Format("{0:0,0} VNĐ", @Model.price_old)</span>
                                    <span style="color: #B22222;">@String.Format("{0:0,0} VNĐ", @Model.price)</span>
                                    }

                                    <label>Số lượng:</label>
                                    <input type="number" value="1" name="amount" />
                                    <input name="id" value="@Model.id" style="display:none;">
                                </span>
                                <p><b>Thương hiệu:</b> @Model.manufacturer.name</p>
                                <input type="submit" class="btn btn-default" value="Thêm vào giỏ hàng">


                            </div><!--/product-information-->
                        </form>
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <div class="col-sm-12">
                        <!--category-tab-->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#description" data-toggle="tab">Mô tả sản phẩm</a></li>
                            <li><a href="#rules" data-toggle="tab">Luật chơi</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="description">
                            <div class="col-sm-12">
                                @Model.description
                            </div>
                        </div>
                        <div class="tab-pane fade" id="rules">
                            <div class="col-sm-12">
                                @Model.rules
                            </div>
                        </div>
                    </div><!--/category-tab-->
                </div>
                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Cùng thương hiệu</h2>
                    <div class="owl-carousel owl-theme">
                        <div class="item col-sm-12">
                            @foreach (Models.Framework.product item in lst)
                            {
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/Product/ProductDetail/@item.id"><img src="@item.big_photo" alt="" /></a>
                                                <h2>@String.Format("{0:0,0} VNĐ", item.price_old)</h2>
                                                <a href="/Product/ProductDetail/@item.id">
                                                    <p>@item.name</p>
                                                </a>
                                                <a class="btn btn-default add-to-cart" href="/Cart/Add/@item.id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div><!--/recommended_items-->
                </div>
            

            <script>
                        $(document).ready(function () {
                            $(".owl-carousel").owlCarousel({
                                autoplay: true,
                                items: 3,
                                loop: false,
                                autoplayTimeout: 3000,
                                dots: false
                            });
                        });
            </script>
        </div>
    </div>
</section>
