@using Models.Framework
@using Models.DAO
@using Toys.Models;
@{

    CategoryDAO dao = new CategoryDAO();
    List<category> lstCate = dao.ListAll();
    ManufacturerDAO dao1 = new ManufacturerDAO();
    List<manufacturer> lstManu = dao1.ListAll();
    cart cart = (cart)Session["Cart"];
    int soLuong = 0;
    if (cart != null) { soLuong = cart.getSoLuong(); }
    SlideDAO sldao = new SlideDAO();
    List<slide> lstSlide = sldao.ListAll();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang chủ | TmT Toys Store</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="~/Assets/Admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/font-awesome.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/prettyPhoto.css" rel="stylesheet">

    <link href="~/Assets/Admin/css/price-range.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/animate.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/main.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="~/Home/Index"><img src="~/Assets/Images/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="~/Cart/Index"> Giỏ hàng</a></li>
                                <li>
                                    <a href="~/Cart/Index">
                                        <i class="fa fa-shopping-cart"></i><span style="font-size: 9px;display: inline-block;background: #384aeb;color: #fff;padding: 0px 5px;border-radius: 50;position: absolute;top: -8px;right: -12px;
">@soLuong</span>
                            </a>

                            </li>
                            @if (Session["username"] != null)
                            {
                                <li><p style="background: #FFFFFF;color: #696763;font-family: 'Roboto', sans-serif;font-size: 14px;font-weight: 300;padding: 0;padding-right: 0;margin-top: 10px;">Xin Chào, @Session["username"]</p></li>
                                <li><a href="/User/logOut"><button class="btn btn-info btn-sm">Đăng xuất</button></a></li>
                            }
                            else
                            {
                                <li><button id="btn-login" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ><i class="fa fa-sign-in"></i> Đăng nhập</button></li>  
                            }                               
                            </ul>
</div>
</div>
</div>
</div>
</div><!--/header-middle-->

<div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a href="~/Home/Index" class="active">Trang chủ</a></li>
                        <li class="dropdown">
                            <a href="#">Sản phẩm<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                @foreach (category cate in lstCate)
                                {
                                    <li><a href="/Home/ListProByCate/@cate.id">@cate.name</a></li>

                                }

                            </ul>
                        </li>
                        <li><a href="/Home/SaleOff">Khuyến mãi</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="search_box pull-right">
                    <input type="text" placeholder="Search" />
                </div>
            </div>
        </div>
    </div>
</div><!--/header-bottom-->
</header><!--/header-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="owl-carousel owl-theme" style="margin:20px; width: 100%;">
                @foreach (slide sld in lstSlide)
                {
                    <div class="item" style="padding-left:200px;">
                        <a href="@sld.link">
                            <img src="@sld.image" width="400" height="200" alt="~/Assets/Images/logo.png" />
                        </a>
                    </div>
                }
                <script>
                    $(document).ready(function () {
                        $(".owl-carousel").owlCarousel({
                            autoplay: true,
                            items: 1,
                            loop: true,
                            autoplayTimeout: 3000,
                            dots: false
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>



<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Danh mục sản phẩm </h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @foreach (category cate in lstCate)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/Home/ListProByCate/@cate.id">
                                            @cate.name
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        }
                    </div><!--/category-products-->

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Thương hiệu</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                @foreach (manufacturer manu in lstManu)
                                {
                                    <li><a href="/Home/ListProByManu/@manu.id"> <span class="pull-right">@manu.products.Count</span>@manu.name</a></li>
                                }
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    @RenderBody()
                </div>
            </div><!--features_items-->
        </div>
    </div>
</section>

<footer id="footer">
    <!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Dịch vụ</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Trợ giúp</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Trạng thái đơn hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Chính sách</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Chính sách riêng tư</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2019 TmT Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="#">Thinh Nguyen</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><p class="login-box-msg">ĐĂNG NHẬP</p></h4>
            </div>
            <div class="modal-body">
                <body class="hold-transition login-page">
                    <div class="login-box">
                        <!-- /.login-logo -->
                        <div class="login-box-body"> 
                            <form method="post" id="form-dn">

                                <div class="form-group has-feedback">
                                    <input id="UserName" name="UserName" placeholder="Tên đăng Nhập" autofocus required />
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="password" id="Password" name="Password" placeholder="Mật Khẩu" />
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="checkbox icheck">
                                            <label>
                                                <button type="button" class="btn btn-primary btn-block btn-flat">Đăng ký</button>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-12" style=" padding-bottom: 15px;">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="submit1">Đăng nhập</button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </form>


                            <a href="#">Quên mật khẩu ?</a><br>
                        </div>
                        <!-- /.login-box-body -->
                    </div>
                    <!-- /.login-box -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="~/Assets/Admin/js/jquery.min.js"></script>
<script src="~/Assets/Admin/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/Admin/js/jquery.scrollUp.min.js"></script>
<script src="~/Assets/Admin/js/owl.carousel.min.js"></script>
<script src="~/Assets/Admin/js/price-range.js"></script>
<script src="~/Assets/Admin/js/jquery.prettyPhoto.js"></script>
<script src="~/Assets/Admin/js/main.js"></script>
</body>
</html>
<script>
    $('#form-dn').on("submit", function () {
            var data = {
                UserName: $('#UserName').val()
                , Password: $('#Password').val()
            }
            console.log("data: ", data);
            $.ajax({
                url: "/User/Login",
                dataType: 'json',
                data: data,
                method:'post',
                success: (data) => {
                    if (data.ret > 0) {
                        window.location.href = '/home/index'
                    } else {
                        swal({
                                title: 'Thất bại',
                                text: 'Tài Khoản hoặc mật khẩu không chính xác',
                                type: 'error',
                                timer: 1500
                            });
                    }
                },
                error: (xhr, status, err) => {
                    console.log(err.toString());
                }
            });
        });
</script>