@using Toys.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    cart cart = (cart)Session["Cart"];
    if(cart == null)
    {
        cart = new cart();
    }
    List<CartItem> lst = cart.lstcart;
}

<section id="cart_items">
    <div class="container">
        <div class="review-payment">
            <h2>Giỏ hàng</h2>
        </div>
        <form action="/Cart/update" method="post">
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="price text-center" style=" width: 130px;">Mã sản phẩm</td>
                            <td class="description text-center" style=" width: 240px; ">Tên sản phẩm</td>
                            <td class="price" style=" width: 110px; ">Giá</td>
                            <td class="quantity" style=" width: 110px; padding-left:50px; ">Số lượng</td>
                            <td class="total text-center" style=" width: 130px; ">Tổng tiền</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in lst)
                        {
                            var total = item.Amount * item.price;

                            <tr>
                                <td class="cart_price text-center" style=" width: 130px;">
                                    <p>@item.Id_Product</p>
                                </td>
                                <td class="cart_description text-center">
                                    <h4><a href="">@item.name</a></h4>
                                </td>
                                <td class="cart_price">
                                    <p>@String.Format("{0:0,0} VNĐ", item.price)</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <input class="cart_quantity_input" type="number" name="@item.Id_Product" value="@item.Amount" autocomplete="off" size="2">
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@String.Format("{0:0,0} VNĐ", total)</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="/Cart/delete/@item.Id_Product"><i class="fa fa-times"></i></a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <input class="btn btn-success text-center pull-left" style="margin:10px;" type="submit" value="Xác nhận" />
            </div>
        </form>
    </div>
</section> <!--/#cart_items-->
@section script{
    <script>
        $(".cart_quantity_input").on('change', function () {
            if ($(this).val() < 0) $(this).val(0);
        });
    </script>
}