@using Toys.Models
@using Models.Framework
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    cart cart = (cart)Session["Cart"];
    if (cart == null)
    {
        cart = new cart();
    }
    List<CartItem> lst = cart.lstcart;
    user u = new user();
    u.fullname = "";
    u.gender = 1;
    u.email = "";
    u.phone = "";
    u.address = "";
    if (Session["User"]!= null)
    {
        u = (user)Session["User"];
    }
}

<section id="cart_items">
    <div class="container">
        <div class="row">
            <div class="review-payment">
                <h2>Thông tin Hóa Đơn</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="price text-center" style=" width: 130px;">Mã sản phẩm</td>
                            <td class="description text-center" style=" width: 240px; ">Tên sản phẩm</td>
                            <td class="price text-center" style=" width: 110px; ">Giá</td>
                            <td class="quantity" style=" width: 110px; ">Số lượng</td>
                            <td class="total text-center" style=" width: 130px; ">Tổng tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in lst)
                        {
                            var total = item.Amount * item.price;

                            <tr>
                                <td class="cart_price text-center" style=" width: 130px;">
                                    <p>@item.Id_Product</p>
                                </td>
                                <td class="cart_description text-center">
                                    <h4>@item.name</h4>
                                </td>
                                <td class="cart_price">
                                    <p>@String.Format("{0:0,0} VNĐ", item.price)</p>
                                </td>
                                <td class="cart_quantity">
                                    <p>@item.Amount</p>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@String.Format("{0:0,0} VNĐ", total)</p>
                                </td>


                            </tr>
                        }

                    </tbody>
                </table>
                <div class="form-group col-md-10">
                    <a href="~/Cart/Index"><input class="btn btn-success" type="button" value="Thay đổi" /></a>
                </div>
                <div class="review-payment col-md-10" style="width:100%">
                    <h2>Thông tin đặt hàng</h2>
                </div>

                <form action="/Cart/pay" method="post">
                    <div style="width:60%">
                        <div class="space20">&nbsp;</div>

                        <div class="form-group col-md-10">
                            <label for="name">Họ tên*</label>
                            <input type="text" class="form-control" name="name" placeholder="Họ tên" value="@u.fullname" required>
                        </div>
                        <div class="form-group col-md-10">
                            <label>Giới tính </label>
                            @if (u.gender == 1)
                            {
                                <input id="gender" type="radio" class="input-radio" name="gender" value="1" checked="checked" style="width: 10%"><span style="margin-right: 10%">Nam</span>
                                <input id="gender" type="radio" class="input-radio" name="gender" value="0" style="width: 10%"><span>Nữ</span>
                            }
                            else if (u.gender == 0)
                            {
                                <input id="gender" type="radio" class="input-radio" name="gender" value="1" style="width: 10%"><span style="margin-right: 10%">Nam</span>
                                <input id="gender" type="radio" class="input-radio" name="gender" value="0" checked="checked" style="width: 10%"><span>Nữ</span>
                            }
                        </div>

                        <div class="form-group col-md-10">
                            <label for="email">Email*</label>
                            <input class="form-control" type="email" id="email" name="email" required value="@u.email" placeholder="Nhập Email">
                        </div>

                        <div class="form-group col-md-10">
                            <label for="adress">Địa chỉ*</label>
                            <input class="form-control" type="text" id="address" name="address" placeholder="Nhập địa chỉ" value="@u.address" required>
                        </div>


                        <div class="form-group col-md-10">
                            <label for="phone">Điện thoại*</label>
                            <input class="form-control" type="text" id="phone" name="phone" placeholder="Nhập số điện thoại" value="@u.phone" required>
                        </div>

                        <div class="form-group col-md-10">
                            <label for="notes">Ghi chú</label>
                            <textarea class="form-control" placeholder="Nhập ghi chú" id="note" name="note" required></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <input class="btn btn-success" type="submit" value="Đặt hàng" />
                    </div>

                </form>

            </div>
        </div>

    </div>
</section> <!--/#cart_items-->
